* {
    box-sizing: border-box;
  }
  
.row {
    display: flex;
    margin: 5%
  }

.column {
    flex: 33.33%;
    padding: 5px;
  }
.profile {
    width: 25px;
    height: 25px;
    }

#carouselExampleIndicators {
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 10px;
}

.bottom_info {
    display: flex;
    align-items: stretch;
    background-color: grey;
    margin-bottom: 0px;
    padding: 30px;
    background-image: linear-gradient(grey, black);
    color: lightgrey;
}

.floating_div {
    margin: 50px;
}

.info {
    list-style: None;
}

.info a {
    color: inherit;
}

.header {
    font-weight: bold;
    color: grey;
}

/********************************LOGIN***************************/

.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box div {
    width: 30%;
    margin: 5%;
    background-color: whitesmoke;
  }

  #flexwrapper  {
    box-shadow: 5px 5px 5px black;
  }

  .box .data {
    border-style: none;
    margin: 20px;
  }

  .profile {
    width: 25px;
    height: 25px;
    }

