<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="overons.css">

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand" href="#">RQ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Recepten</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Over ons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></div><img class="profile" src="logopng.png">Inloggen</a>
        </li>
      </ul>
    </div>
  </nav>

    </ol>
    <div class="informatie">
        <h1>Over Proteïn Express</h1>
            <br>
            Bij Proteïn Express zijn we er trots op dat we onze klanten gezonde, voedzame maaltijden van hoge kwaliteit kunnen bieden. Maar wat gebeurt er eigenlijk achter de schermen? We willen onze klanten graag een kijkje geven in ons bedrijf en de mensen die het allemaal mogelijk maken.
            <br><br>
            Onze toegewijde medewerkers beginnen 's ochtends vroeg met het voorbereiden van de ingrediënten voor onze maaltijden. We gebruiken alleen de beste, verse ingrediënten om ervoor te zorgen dat onze klanten de voedingsstoffen krijgen die ze nodig hebben.
            <br><br>
            Zodra de ingrediënten zijn voorbereid, gaat ons team van koks aan de slag om de maaltijden te bereiden. Onze koks zijn getraind in het bereiden van gezonde maaltijden zonder concessies te doen aan de smaak.
            <br><br>
            Onze verpakkingsmedewerkers zorgen ervoor dat de maaltijden veilig en efficiënt worden verpakt voordat ze naar onze klanten worden verzonden. We streven naar een snelle en betrouwbare bezorging zodat onze klanten hun maaltijden zo snel mogelijk kunnen ontvangen.
            <br><br>
            Bij Proteïn Express geloven we dat transparantie en kwaliteit essentieel zijn voor een succesvol bedrijf. We willen onze klanten graag laten zien hoe we werken en hoe we ervoor zorgen dat ze de beste maaltijden ontvangen.
  </div>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="food/food1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="food/food2.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="food/food3.webp" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>


      
  <div class="bottom_info">
    <div class="floating_div">
      <ul class="info">
        <lh class="header">
          Header!
        </lh>
        <li>
          <a href="#">Recepten</a>
        </li>
        <li>
          <a href="#">Over ons</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
        <li>
          <a href="#">Inloggen</a>
        </li>
      </ul>
      
    </div>



    <div class="floating_div">
      <ul class="info">
        <lh class="header">
          Header!
        </lh>
        <li>
          <a href="#">Recepten</a>
        </li>
        <li>
          <a href="#">Over ons</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
        <li>
          <a href="#">Inloggen</a>
        </li>
      </ul>
      
    </div>

    <div style="clear:left"></div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>
</html>