<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="overons.css">

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand" href="#">RQ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Recepten</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Over ons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></div><img class="profile" src="logopng.png">Inloggen</a>
        </li>
      </ul>
    </div>
  </nav>

    </ol>
    <div class="informatie">
        <h1>Over Proteïn Express</h1>
            <br>
        <p>Proteïn Express is een jong bedrijf dat is opgericht met als doel om mensen te helpen een gezonde levensstijl te leiden door het aanbieden van maaltijden die rijk zijn aan proteïnen. Proteïnen zijn essentieel voor het behoud van spiermassa, het reguleren van hormonen en het ondersteunen van een gezond immuunsysteem. Helaas zijn veel maaltijden die tegenwoordig worden aangeboden niet altijd rijk aan proteïnen.
            <br><br>
            Bij Proteïn Express geloven we dat iedereen toegang moet hebben tot gezonde, voedzame en smakelijke maaltijden. Daarom bieden wij een breed scala aan maaltijden aan die zijn samengesteld door onze voedingsdeskundigen en die allemaal rijk zijn aan proteïnen. Onze maaltijden zijn niet alleen gezond, maar ook heerlijk en gemakkelijk te bestellen en te bezorgen.
            <br><br>
            Wij geloven in transparantie en daarom vermelden wij altijd de ingrediënten en voedingswaarde van onze maaltijden. Bovendien gebruiken wij alleen de beste ingrediënten van lokale leveranciers en hanteren wij strikte kwaliteitscontroles om ervoor te zorgen dat onze maaltijden van de hoogste kwaliteit zijn.
            <br><br>
            Bij Proteïn Express streven we naar 100% klanttevredenheid en daarom staan wij altijd klaar om eventuele vragen of opmerkingen van onze klanten te beantwoorden. We willen onze klanten helpen om gezonde en voedzame maaltijden te eten, zonder dat ze daar veel moeite voor hoeven te doen.
            <br><br>
            We hopen dat je geïnspireerd bent om onze maaltijden te proberen en te ontdekken hoe gemakkelijk het kan zijn om gezond en lekker te eten. Bedankt dat je voor Proteïn Express hebt gekozen!</p>
      
  </div>

  <div class = "column" class = "row">
  <div class="card">
    <img src="blank.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">De eigenaren</h5>
      <p class="card-text">Quinten en Roy zijn de gepassioneerde eigenaren van Proteïn Express, die gezondheid en gemak combineren door proteïnerijke maaltijden te bezorgen.</p>
      <a href="overeigenaar.html" class="btn btn-primary">Lees verder</a>
    </div>

    <div class="card2">
        <img src="blank.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Achter de schermen</h5>
          <p class="card-text">Wil je een kijkje nemen achter de beschermen.</p>
          <a href="overscherm.html" class="btn btn-primary">Lees verder</a>
        </div>
  </div>
  </div>
      
  <div class="bottom_info">
    <div class="floating_div">
      <ul class="info">
        <lh class="header">
          Header!
        </lh>
        <li>
          <a href="#">Recepten</a>
        </li>
        <li>
          <a href="#">Over ons</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
        <li>
          <a href="#">Inloggen</a>
        </li>
      </ul>
      
    </div>



    <div class="floating_div">
      <ul class="info">
        <lh class="header">
          Header!
        </lh>
        <li>
          <a href="#">Recepten</a>
        </li>
        <li>
          <a href="#">Over ons</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
        <li>
          <a href="#">Inloggen</a>
        </li>
      </ul>
      
    </div>

    <div style="clear:left"></div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>
</html>